<mat-card>
    <mat-card-header class="primary">
        <mat-card-title>
            <span class="entry">
                <mat-icon>description</mat-icon>
                <span class="spacer"></span>
                <span>Documents</span>
            </span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Here you'll find my work history and a generic cover letter.</p>
        <mat-nav-list>
            <a mat-list-item href="/assets/resume-for-stephen-humburg.pdf" target="_blank">
                <span class="entry">
                    <span>Resume PDF</span>
                    <span class="spacer"></span>
                    <mat-icon>open_in_new</mat-icon>
                </span>
            </a>
            <a mat-list-item href="/assets/resume-for-stephen-humburg.docx" target="_blank">
                <span class="entry">
                    <span>Resume DOCX</span>
                    <span class="spacer"></span>
                    <mat-icon>open_in_new</mat-icon>
                </span>
            </a>
            <a mat-list-item href="/assets/cover-letter-for-stephen-humburg.pdf" target="_blank">
                <span class="entry">
                    <span>Cover Letter PDF</span>
                    <span class="spacer"></span>
                    <mat-icon>open_in_new</mat-icon>
                </span>
            </a>
            <a mat-list-item href="/assets/cover-letter-for-stephen-humburg.docx" target="_blank">
                <span class="entry">
                    <span>Cover Letter PDF</span>
                    <span class="spacer"></span>
                    <mat-icon>open_in_new</mat-icon>
                </span>
            </a>
        </mat-nav-list>
    </mat-card-content>
</mat-card>